<h1>Log in to the New Hope Lutheran Needs Board</h1>

<p>In order to ensure the privacy of our sign up board, we require all users to enter a passphrase to volunteer.</p>

<%= form_tag sessions_path do %>
  <p>
    <%= password_field_tag :password %>
  </p>

  <p><%= submit_tag "Log in", :class=>'btn btn-primary submit' %></p>
<% end %>