<% body_id 'edit' %>
<% body_class 'needs' %>

<h1>Editing need</h1>
<%= render 'form' %>

<%= link_to 'Delete Need', @need, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger', :id => 'delete_need' %>