/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
//@import "compass_twitter_bootstrap";

@import "compass/utilities/general/clearfix";

body{
	background: url(/assets/bright_squares.png);
	height: 100%;
	font-size: 16px;
}

input{
	height: 28px;
	font-size: 18px;
	width: 100%;
}

.label{
	line-height: 13px;
	text-transform: none;
}

h1, h2, h3, h4{
	font-family: 'Josefin Sans', serif;
}

#page{
	background: #fffffe;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 0px 5px 5px #CCC;
}

td{
	padding: 10px;
}

.btn{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Josefin Sans', serif;
	font-weight: bold;

}

a.btn{
	color: #fff;
}

#need_category{
	width: 120px;
}

#index{
	h2{
		margin-top: -10px;
	}
	.category-description{
		min-height: 70px;
		max-width: 570px;
		margin-bottom: 10px;
		margin-left: 5px;
	}
	.logo{
		float: right;
		margin-top: -15px;
		margin-right: 20px;
	}
	.need{
		@include clearfix;
		padding: 10px 20px 20px 20px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 1px solid #888;
		box-shadow: 2px 2px 2px #CCC;
		form{
			margin: 0;
		}
		h3{
			display: inline;
			font-size: 22px;
			margin-left: -10px;
		}
		.desc{
			clear: left;
			font-size: 14px;
		}
		.date{
			padding-bottom: 5px;
		}
		.slots{
			float: right;
			position: relative;
			padding-top: 15px;
			h5{
				position: absolute;
				right: 160px;
				margin-top: -20px;
			}
			.note{
				text-align: right;
				float: left;
				padding-right: 5px;
				padding-top: 10px;
			}
			.slot{
				@include clearfix;
				position: relative;
				padding-left: 20px;
				.btn{
					right: 0px;
					position: absolute;
					height: 37px;
				}
				.text{
					float: right;
					width: 250px;
				}
			}
		}
	}
}

#edit, #create{
	#new_slot{
		float: left;
		clear: left;
		width: 110px;
	}
	#post_need{
		width: 110px;
		margin-top: 20px;
	}
	.actions{
		@include clearfix;
	}
	.slot{
		@include clearfix;
		input{
			width: 200px;
			float: left;
		}
	}
	.remove_slot{
		float: left;
		clear: left;
		width: 88px;
		color: #fff;
	}
}

