// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.need{
	position: relative;
}

#delete_need{
	float: right;
	margin-top: -65px;
	color: #fff;
}