/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
//@import "compass_twitter_bootstrap";

@import "compass/utilities/general/clearfix";

body{
	background: url(/assets/bright_squares.png);
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;
}

input{
	height: 28px;
	font-size: 18px;
	width: 95%;
}

.nav-list{
	padding: 0;
}

.label{
	line-height: 19px;
	text-transform: none;
}

.well{
	padding: 15px;
	li input{
		color: #888;
	}
	&.sidebar-nav{
		.btn{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			padding-right: 0;
		}
		form, .btn.last{
			margin-bottom: 0;
		}
	}
}

h1{
	text-transform: uppercase;
}

h1, h2, h3, h4{
	font-family: 'Century Gothic', serif;
	font-weight: normal;
}

#page{
	background: #fffffe;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 0px 5px 5px #CCC;
}

td{
	padding: 10px;
}

.btn{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Century Gothic', serif;
}

a.btn{
	color: #fff;
}

#need_category{
	width: 100%;
}

.datepicker{
	font-size: 12px;
}

.one-line{
	float: left;
	padding-right: 20px;
}

.field label{
	font-weight: bold;
	margin-top: 10px;
}

#password{
	width: 300px;
}

.logo{
	float: right;
	margin-top: -15px;
	margin-right: 17px;
}

#delete_need{
	float: left;
	margin-left: 150px;
	margin-top: -65px;
	color: #fff;
}

.login #page{
	width: 940px;
}

#index{
	h2{
		margin-top: -10px;
	}
	.category-description{
		min-height: 70px;
		max-width: 570px;
		margin: 10px;
		a{
			color: blue;
		}
	}
	.need{
		@include clearfix;
		padding: 10px 20px 10px 20px;
		margin-bottom: 10px;
		border-radius: 10px;
		border: 1px solid #888;
		box-shadow: 2px 2px 2px #CCC;
		position: relative;
		form{
			margin: 0;
		}
		h3{
			float: left;
			font-size: 22px;
			margin-left: -10px;
		}
		.desc{
			clear: left;
			font-size: 14px;
			a{
				color: blue;
			}
		}
		.date{
			padding-bottom: 5px;
			float: left;
			clear: left;
		}
		.category.label{
			margin-top: 4px;
			margin-left: 10px;
			vertical-align: top;
			font-size: 14px;
			float: left;
			padding: 1px 4px;
		}
		.slots{
			float: right;
			position: relative;
			padding-top: 15px;
			.sign-up{
				margin-top: -20px;
				text-align: center;
				width: 240px;
				padding-left: 25px;
				position: absolute;
				right: 0;
			}
			.note{
				text-align: right;
				float: left;
				padding-right: 5px;
				padding-top: 10px;
			}
			.slot{
				@include clearfix;
				position: relative;
				padding-left: 20px;
				.btn{
					right: 0px;
					position: absolute;
					height: 37px;
				}
				.text{
					float: right;
					width: 230px;
				}
			}
		}
	}
}

#edit, #create{
	#need_num_repeats, #need_frequency{
		display: inline;
		width: 20px;
	}
	.repeat{
		position:absolute;
		margin-left: 20px;
	}
	#new_slot{
		float: left;
		clear: left;
		width: 132px;
	}
	#need_date{
		width: 210px;
	}
	#need_time1, #need_time2, #need_time3{
		width: 60px;
	}
	#post_need{
		width: 132px;
	}
	.actions{
		@include clearfix;
	}
	.slot{
		@include clearfix;
		input{
			width: 200px;
			float: left;
		}
	}
	.remove_slot{
		float: left;
		clear: left;
		width: 110px;
	}
}

